# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import requests
from io import StringIO
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
response = requests.get(url)
cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

iris = pd.read_csv(StringIO(response.text), names=cols)
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Step 4. Create columns for the dataset

In [3]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 5.  Is there any missing value in the dataframe?

In [4]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [5]:
iris.iloc[10:29,iris.columns.get_loc('petal_length')] = np.NaN
iris['petal_length'].iloc[5:15] # check

5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
Name: petal_length, dtype: float64

### Step 7. Good, now lets substitute the NaN values to 1.0

In [6]:
iris = iris.applymap((lambda x : 1 if pd.isna(x) else x))
# or iris.fillna(1,inplace= True)
iris['petal_length'].iloc[5:15]

/var/folders/6y/rk62psn975ddvqdgsb_mzxcm0000gn/T/ipykernel_49447/3256093340.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  iris = iris.applymap((lambda x : 1 if pd.isna(x) else x))

5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
Name: petal_length, dtype: float64

### Step 8. Now let's delete the column class

In [7]:
iris.drop(columns='class', inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### Step 9.  Set the first 3 rows as NaN

In [8]:
iris.iloc[:3,:] = np.NaN

### Step 10.  Delete the rows that have NaN

In [10]:
iris.dropna(axis=0,inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2

### Step 11. Reset the index so it begins with 0 again

In [11]:
iris = iris.reset_index()
iris

     index  sepal_length  sepal_width  petal_length  petal_width
0        3           4.6          3.1           1.5          0.2
1        4           5.0          3.6           1.4          0.2
2        5           5.4          3.9           1.7          0.4
3        6           4.6          3.4           1.4          0.3
4        7           5.0          3.4           1.5          0.2
..     ...           ...          ...           ...          ...
142    145           6.7          3.0           5.2          2.3
143    146           6.3          2.5           5.0          1.9
144    147           6.5          3.0           5.2          2.0
145    148           6.2          3.4           5.4          2.3
146    149           5.9          3.0           5.1          1.8

[147 rows x 5 columns]

### BONUS: Create your own question and answer it.